body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a5a5a5;
}

img {
  width: auto;
  height: 100px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(105, 132, 130);
  flex-wrap: wrap;
}
.titel {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 10px;
  justify-content: center;
  background: #212529;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 30px;
}
.überschrift {
  margin-top: 10px;
  justify-content: center;
  background: #212529;
  -webkit-text-stroke: 3px black;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 30px;
  background-image: url("todo.png");
  background-size: cover;
  background-position: center;
}

button {
  padding: 10px 20px;
  background-color: #28a796;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}
button:hover {
  background-color: #245b7b;
}

img {
  border-radius: 10px;
  width: 30px;
  height: 30px;
}

h1 {
  position: relative;
  font-size: 3em;
  padding: 20px;
  color: #000000;
  z-index: 1;
  font-size: 5vw;
}
